* {
  margin: 0;
  padding: 0;
}

:root {
  --page-background: #102b96;
  --white-background: #fff;
  --form-input-hover: #f4f4f5;
  --form-input-border: #e5e5e5;
  --form-title-text: #000;
  --error-message: red;
}

body {
  display: flex;
  justify-content: center;
  background-color: var(--page-background);

  form {
    background-color: var(--white-background);
    color: var(--form-title-text);
    width: 500px;
    padding: 20px;

    table {
      border-spacing: 10px;

      tr {
        &:first-child {
          font-size: 28px;
        }
      }
    }

    .login,
    .email,
    .password {
      display: flex;
      border: 1px solid var(--form-input-border);
      border-radius: 2px;
      outline: none;
      padding: 0 2px;
      height: 20px;
      width: 164px;

      &:hover {
        background-color: var(--form-input-hover);
      }
    }

    .password {
      padding: 0;
      width: 170px;
      border: none;

      .first-password,
      .second-password {
        border: 1px solid var(--form-input-border);
        border-right: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 146px;
        outline: none;
        padding: 0 2px;

        &:hover {
          background-color: var(--form-input-hover);
        }
      }

      .password-control {
        border: 1px solid var(--form-input-border);
        border-left: none;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        height: 18px;
        width: 18px;
        cursor: pointer;

        &:hover {
          background-color: var(--white-background);
        }
      }

      .eye {
        background: no-repeat center/14px url(../images/show.png);
      }

      .eye-slash {
        background: no-repeat center/14px url(../images/hide.png);
      }
    }

    .login-error,
    .email-error,
    .password-error {
      color: var(--error-message);
      font-size: 12px;
    }

    button {
      padding: 2px 15px;
    }
  }
}
